@media screen and (min-width: 1024px) {
  .userspage {
    flex: 4;
  }
}

.userpageUser {
  display: flex;
  align-items: center;
}

.userpageImage {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0px 5px;
  object-fit: cover;
}

.userpageEdit {
  background-color: rgb(113, 211, 113);
  margin: 0px 5px;
  margin-right: 40px;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.userpageDelete {
  background-color: rgb(211, 117, 117);
  margin: 0px 5px;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}
